.registerContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerCancel {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue-color);
    font-weight: 700;
    margin-bottom: 1rem;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
}

.registerBtn {
    border: none;
    padding: 5px;
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;
}

