.popupForm {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--form-color);
}

.popupForm input,
.popupForm textarea,
.popupForm select {
    border: 1px solid var(--gray-color);
    padding: 0.5rem;
    border-radius: 4px;
}

.popupForm input::placeholder,
.popupForm textarea::placeholder {
    font-size: 12px;
    color: var(--placeholder-color);
}

.popupForm .submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--red-color);
    cursor: pointer;
}
