:root {
  --star-color:rgb(255, 217, 0);
  --red-color:rgb(255, 96, 68);
  --blue-color:rgb(107, 91, 206);
  --form-color:rgb(88, 87, 87);
  --placeholder-color:rgb(71, 65, 65);
  --gray-color:rgb(126, 126, 126);
  --white-color:rgb(255, 255, 255);
  --green-color:rgb(7, 139, 7);
  --loader-color:rgb(0, 0, 0);
  
  

}

.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  label {
    width: max-content;
    color: var(--red-color);
    font-size: 15px;
    border-bottom: 0.5px solid var(--red-color);
    margin: 3px 0;
  }
  
  .desc {
    font-size: 14px;
  }
  
  .star {
    color: var(--star-color);
  }
  
  .username {
    font-size: 14px;
  }
  
  .date {
    font-size: 12px;
  }


.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  color: var(--white-color);
  font-weight: 500;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.logout {
  background-color: var(--red-color);
  margin: 10px 30px;
}

.login {
  background-color: var(--gray-color);
  margin-right: 10px;
}

.register {
  background-color: var(--blue-color);
}

/* App loading icon */

.loader {
  display: inline-block;
  color: var(--loader-color);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  top: 50%; 
  left: 50%
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
 